  <div>
    <h2>Comments</h2>
    <h3>Bobby Tables</h3>
    <span>07/06/2018 3:29</span>
    <p>That's quite a meme you've got there.</p>
  </div>
  <div>
      <h3>Ironhack School</h3>
      <span>06/16/2018 9:30</span>
      <p>Do the memes for our courses please!</p>
    </div>
    <div class="teal">

  <form action="">
    <label for="">Leave a comment</label>
    <div>

      <label for="">Name: </label>
      <br>
      <input type="text" name="" id="">
    </div>
    <div>

      <label for="">Description:</label>
      <br>
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    
    <button type="submit">Comment</button>
  </form>
</div>